$app-color-text: #323233;
$app-color-background: #f8f8f8;
$app-color-primary: #a63933;

$app-color-gray1: #333333;
$app-color-gray2: #666666;
$app-color-gray3: #999999;
$app-color-gray4: #c4c4c4;
$app-color-gray5: #f4f4f4;

$app-size-heading1: 36px;
$app-size-heading2: 26px;
$app-size-heading3: 22px;
$app-size-heading4: 18px;
$app-size-heading5: 16px;

$app-size-text: 14px;
$app-size-tip: 13px;

$app-font-weight-heading: 700;
$app-font-weight-emphasis: 500;